<h1>Galería de Fotos</h1>

<div class="row">
  <% @photos.each do |photo| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= image_tag photo.image if photo.image.attached? %> <!-- Verifica si hay una imagen adjunta -->
        <div class="card-body">
          <h5 class="card-title"><%= photo.caption %></h5>
          <p class="card-text">Subido por: <strong><%= photo.user.name %></strong></p>
          <a href="<%= photo_path(photo) %>" class="btn btn-primary">Ver Detalle</a>
        </div>
      </div>
    </div>
  <% end %>
</div>