
body {
    background-color: #6FECF2;
  }

  .photo {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
  }
  
  .comment {
    margin-left: 20px;
  }
  
  .comment img {
    width: 30px; /* Ajusta el tamaño de la imagen del usuario */
    height: auto;
  }

  .navbar-brand {
    color: #0072EC;
    font-size: xx-large;
  }

  .nav-link {
    color: #0072EC;
    font-size: x-large;
  }